body {
    font-family: 'Roboto', sans-serif;
    background-color: #212121;
    margin: 0;
    padding: 0;
}

.contenedor_de_arriba {
   background-color: #DA6AFF;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2% 0 2%;
}

.Logout{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    font-weight: 600;
}

.Logout:hover {
    color: #333;
}

.Logo{
    width: 95px;
    height: 95px;
    cursor: pointer;
}

.cuadro{
    background-color: #2F2E2E;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 798px;
    height: 40%;
    margin: auto;
    padding: 30px;
    margin-bottom: 20%;
}

.encabezado {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.encabezado h1 {
    margin: 0;
    color: #fff;
    font-size: 36px;
}

.tiempo {
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    width: 40%;
    margin: 2% auto 1% auto;
}

.pregunta p {
    background-color: #DA6AFF;
    padding: 10px;
    border-radius: 19px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.opciones {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.option {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 19px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.2s;
}

.option:hover {
    background-color: #e9a2ff;
    color: #5c007a;
    font-weight: bold;
}

.option input {
    margin-right: 10px;
    cursor: pointer;
}

.boton-siguiente {
    margin-top: 30px;
    text-align: center;
}

#siguiente {
    background-color: #DA6AFF;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

#siguiente:hover {
    background-color: #9700c9;
}

input[type="radio"] {
    transform: scale(1.5);
    margin: 0 10px 0 0;
}

@media (width <= 700px) {
  
    .cuadro{
    width: 90%;
    padding: 10px;
    }

    .tiempo {
        width: 90%;
        margin: 4% auto 4% auto;
    }

    .encabezado {
        margin-top: 10%;
    }

}

.texto-finalizado {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}